<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/login.css">
</head>
<div id="WrapAll">
<body>
    <div class="login">
    <h1>Welcome to Eat and Track!</h1>
    <h3>The very best way to keep track of your food intake</h3> 
    <form class="form" action="/login" method="POST" validate>
        <h3>Sign-In</h3>
        <div class="inputs">
        <p>Email</p>
        <input type="email" placeholder="example@example.com" id="email" name='email' required>
        <p>Password</p>
        <input type="password" placeholder="*********" id="password" name="password" required>
        </div>
        <button class="signup-button">Login</button>
    </form>
    <button class="login-button" onClick="window.location.href='register'">Create an Account</button>
    </div>
</body>
</div>
</html>